{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/cars/{{ data._id }}?_method=PUT" method="POST">
    <fieldset>
      <legend>Edit</legend>
      
        Year:<input type="text" name="idk" placeholder="{{ data._id }}" value=""/>
        Make:<input type="text" name="Make" placeholder="{{ data.Make }}" value=""/>
        Model:<input type="text" name="Model" placeholder="{{ data.Model }}" value=""/>
        Color:<input type="text" name="Color" placeholder="{{ data.Color }}" value=""/>
        Price:<input type="text" name="Price" placeholder="{{ data.Price }}" value=""/>
        Img:<input type="text" name="Img" placeholder="{{ data.Img }}" value=""/>
     
    </fieldset>
    <input type="submit" value="Submit Edit" />
</div>
</form>
{% endblock %}