{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/cars/{{ data._id }}?_method=PUT" method="POST">
    <fieldset>
      <legend>Edit Your Ride</legend>
      
      <label>Year:<input type="text" name="Year" placeholder="{{ data.Year }}" value=""/></label>
      <label> Make:<input type="text" name="Make" placeholder="{{ data.Make }}" value=""/></label>
        <label> Model:<input type="text" name="Model" placeholder="{{ data.Model }}" value=""/></label>
            <label> Color:<input type="text" name="Color" placeholder="{{ data.Color }}" value=""/></label>
                <label>Price:<input type="text" name="Price" placeholder="{{ data.Price }}" value=""/></label>
                    <label>Img:<input type="text" name="Img" placeholder="{{ data.Img }}" value=""/></label>
     
    </fieldset>

    <input type="submit" value="Confirm Edit" />
</div>
</form>
{% endblock %}