{% layout "layout.liquid" %} {% block content %}


<article>
    <img src="{{ data.Img }}" width="800" alt="pic">
    <div class="ride-info">
    <h4>Year: {{ data.Year }}</h4>
    <h4>Make: {{ data.Make }}</h4>
    <h4>Model: {{ data.Model }}</h4>
    <h4>Color: {{ data.Color }}</h4>
    <h4>Price: ${{ data.Price }}</h4>
</div>
    <a href="/cars/{{ data._id }}/edit">
        <button>Switch Rides?</button>
    </a>

</article>




<h2>Comments Section</h2>
<div class="comment-container"> 
{% for notes in data.Comments %}
<form action="/cars/{{ data._id }}?_method=PUT" method="POST">
 <ul>
    <div class="comment-list">
  <li>{{ notes.Comments }}</li> 
</div>
  <input type="submit" value="Edit" />
  <input type="submit" value="DELETE" />

</ul>
</div>
</form>
{% endfor %}


<form id="comments-form" method="POST" action="/cars/{{ data._id }}">
    <label>Notes:</label>
    <textarea name="Comments" placeholder="Thoughts go here!"></textarea>
    <label>Rating:</label>
  <select name="Rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Comment">
</form>



{% endblock %}