{% layout "layout.liquid" %} {% block content %}

<div>
<article>
    <img src="{{ data.Img }}" alt="pic">
    <h2>Year: {{ data.Year }}</h2>
    <h2>Make: {{ data.Make }}</h2>
    <h2>Model: {{ data.Model }}</h2>
    <h2>Color: {{ data.Color }}</h2>
    <h2>Price: ${{ data.Price }}</h2>
   
    <a href="/cars/{{ data._id }}/edit">
        <button>EDIT</button>
    </a>

</article>

</div>



{% endblock %}