{% layout "layout.liquid" %} {% block content %}

<a href="/user/logout"><button id="logout-show">Logout</button></a>
<br />
<br />
<article>
    <img class="show-pic" src="{{ data.Img }}" alt="pic">
    <div class="ride-info">
    <h3>Year: {{ data.Year }}</h3>
    <h3>Make: {{ data.Make }}</h3>
    <h3>Model: {{ data.Model }}</h3>
    <h3>Color: {{ data.Color }}</h3>
    <h3>Price: ${{ data.Price }}</h3>
</div>
    <a href="/cars/{{ data._id }}/edit">
        <button class="btn-switch">Switch Rides?</button>
    </a>

</article>
<br />

<h2>Comments</h2>

{% for notes in data.Comments %}
<div class="comment-container"> 
<!-- <form action="/cars/{{ data._id }}?_method=PUT" method="POST"> -->

<!-- </form> -->

    <div id="com-list">
  <li id="note-items">{{ notes.Comments }}</li> 


  <form action="/cars/{{ data._id }}/{{ notes._id }}" method="GET">
    <input type="submit" id="com-btn2" value="EDIT" />
      <input type="hidden" name="" value="">
    </form>

  <form action="/comments/{{ notes._id }}?_method=DELETE" method="POST">
  <input type="submit" id="com-btn2" value="DELETE" />
    <input type="hidden" name="carId" value="{{ data._id }}">
  </form>

</ul>
</div>
</form>
{% endfor %}

<div id="com-entry">
<form class="comments-form" method="POST" action="/cars/{{ data._id }}">
    <label>Notes:</label>
    <textarea style="border: 2px solid lightgoldenrodyellow;" name="Comments" class="thoughts" placeholder="Thoughts go here!"></textarea>
    <label>Rating:</label>
  <select name="Rating" style="border: 2px solid lightgoldenrodyellow;">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" id=add-com value="Add Comment">
</form>
</div>


{% endblock %}